.body {
  width: 100%;
  font-family: Helvetica, sans-serif;
}

.body-wrapper {
  width: 90%;
  text-align: center;
  margin: auto;
}

.canvas-wrapper {
  width: 60%;
  height: 50vh;
  position: relative;
  margin: auto;
}

.hide {
  display: none;
}

.hline {
  border-top: 1px solid #cdcdcd;
  margin: 20px 0;
}

.selection-wrapper {
  margin-top: 10px;
}

.selection-button {
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background-color: #efefef;
}

.selection-wrapper button:hover {
  cursor: pointer;
  background-color: #cdcdcd;
}

.tweet-link {
  margin: 20px 0 0 0;
  text-align: right;
  font-size: 16px;
}

.tweet-link a {
  text-decoration: none;
  color: #ababab;
}

.tweet-link a:hover {
  color: #cdcdcd;
}

.tweet-display-wrapper {
  margin: 20px 0 40px 0;
}

.tweet-profile-image {
  border-radius: 50px;
  margin: 0 10px 0 0;
  width: 75px;
  height: auto;
}

.tweet-list-item {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #cdcdcd;
  width: 30%;
  height: auto;
  text-align: left;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.tweet-header {
  font-size: 20px;
}

.tweet-header img {
  vertical-align: middle;
}

.tweet-stats {
  font-size: 20px;
  text-align: center;
}

.tweet-stats span {
  margin: 0 10px;
}

.footer {
  background-color: #1dcaff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.footer span {
  display: inline-block;
  vertical-align: middle;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  color: #efefef;
}

.header {
  background-color: #1dcaff;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.header span {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1000px) {
  .canvas-wrapper {
    width: 100%;
  }

  .tweet-profile-image {
    width: 50px;
  }

  .selection-button {
    width: 40%;
    height: 50px;
    font-size: 14px;
  }

  .tweet-list-item {
    width: 80%;
  }
}
