<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="../static/index.js"></script>
    <script type="text/javascript">var data={{data|tojson}}</script>
    <title>Twitter Wrapped</title>
  </head>
  <body>
    <div class="header"><span>Twitter -Wrapped-</span></div>

    <div class="body-wrapper">
      {% if page == 'login' %}

      <div class="login-wrapper">
        <p>Enter your Twitter "@" to get started:</p>
        <form class="login-form" id="login-form" action="auth" method='post'>
          <input type="text" class="username-field" id="username"></input>
        </form>
        <button class="login-button" id="login-button" onclick="submitLogin()">Log In</button>
      </div>

      {% else %}

      <div class="canvas-wrapper">
        <canvas id="mainChart"></canvas>
      </div>

      <div class="selection-wrapper">
        <button class="selection-button" id="select-retweets-chart">Most Retweets</input>
        <button class="selection-button" id="select-likes-chart">Most Likes</input>
      </div>

      <div class="hline"></div>

      <div id="mostRts-cards" class="tweet-display-wrapper">
        {% for tweet in data.mostRts %}
          <div class="tweet-list-item">
            <div class="tweet-header">
              <img src="{{ data.profileImageUrl }}" class="tweet-profile-image">
              <span>{{ tweet.created_at }}</span>
            </div>
            <div class="hline"></div>
            <p>{{ tweet.full_text }}</p>
            <div class="hline"></div>
            <div class="tweet-stats">
              <span>RTs: {{ tweet.retweet_count }}</span>
              <span>Likes: {{ tweet.favorite_count }}</span>
            </div>
            <div class="tweet-link">
              <a target="_blank" href="https://twitter.com/{{ data.screen_name }}/status/{{ tweet.id_str }}">View on Twitter</a>
            </div>
          </div>
        {% endfor %}
      </div>

      <div id="mostLikes-cards" class="tweet-display-wrapper">
        {% for tweet in data.mostLikes %}
          <div class="tweet-list-item">
            <div class="tweet-header">
              <img src="{{ data.profileImageUrl }}" class="tweet-profile-image">
              <span>{{ tweet.created_at }}</span>
            </div>
            <div class="hline"></div>
            <p>{{ tweet.full_text }}</p>
            <div class="hline"></div>
            <div class="tweet-stats">
              <span>RTs: {{ tweet.retweet_count }}</span>
              <span>Likes: {{ tweet.favorite_count }}</span>
            </div>
            <div class="tweet-link">
              <a target="_blank" href="https://twitter.com/{{ data.screen_name }}/status/{{ tweet.id_str }}">View on Twitter</a>
            </div>
          </div>
        {% endfor %}
      </div>

      {% endif %}

    </div>

    <div class="footer"><span>created by <a class="footer-link" target="_blank" href="https://twitter.com/caseyjohnsonwv">twitter/caseyjohnsonwv</a></span></div>
  </body>
</html>
