<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="../static/index.js"></script>
    <script type="text/javascript">var data={{data|tojson}}</script>
    <title>Twitter Wrapped</title>
  </head>
  <body>
    <div class="body-wrapper">

      <div class="canvas-wrapper">
        <canvas id="mainChart"></canvas>
      </div>

      <div class="selection-wrapper">
        <button class="selection-button" id="select-retweets-chart">Most Retweets</input>
        <button class="selection-button" id="select-likes-chart">Most Likes</input>
      </div>

    </div>
  </body>
</html>
